<nav>
    <span>
        <a href="/index">index</a>
    </span>
    <span>
        <a href="/signup">signup</a>
    </span>
    <span>
        <a href="/">login</a>
    </span>
    <span>
        <a href="/">dashboard</a>
    </span>
    <span>
        <a href="/users">users</a>
    </span>
</nav>