<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="common.css">
</head>
<body>
    <% if(DEV_MODE == true){ %>
        <%- include("partials/index.ejs") %>
        <%- include("partials/viewcount.ejs") %>
    <% } %>

    <main style="margin: 1em 2em;">
        <h1>Dashboard</h1>
        <% if (typeof(username) !== 'undefined'){ %>
            <p>Logged in as: </p><p class="underline"><%= username %></p>
            <p><a href="/logout">Log Out</a></p>
        <% } else { %>
            <p>Not logged in.</p>
        <% } %>
    </main>
</body>

</html>