<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Log in</title>
        <link rel="stylesheet" href="/common.css">
        <link rel="stylesheet" href="/forms.css">
    </head>

    <body>
        <% if(DEV_MODE){ %>
            <%- include("partials/index.ejs") %>
            <%- include("partials/viewcount.ejs") %>
        <% } %>

        <% if (typeof err !=="undefined" ) { %>
            <p class="error">
                <%= err %>
            </p>
        <% } %>
        <main>

            <form name="login" action="/" method="POST">
            <label for="username">Username:</label><br>
            <input type="text" name="username" id="username" placeholder="Username" required autocomplete="username" maxlength="32" value=""><br>

            <label for="password">Password:</label><br>
            <input type="password" name="password" id="password" placeholder="Password" required autocomplete="current-password" maxlength="32"><br>

            <button type="submit">Log in</button>
            <p> or <a href="/signup">Create an Account</a></p>
        </form>
    </main>
</body>

</html>