body {
    display: flex;
    justify-content: center;
}

#idx {
    display: block;
    justify-content: normal;
}

form {
    /* centering and resizing */
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: max-content;
    transform: translate(-50%, -50%) scale(1.5);
    transform-origin: center;
    /* styling */
    padding: 1em;
    background-color: rgb(106, 104, 241);
    border-radius: 1em;
    corner-shape: squircle;
}

button,
input {
    background-color: light-dark(white, rgb(40, 42, 54));
    border: 0;
    border-radius: 0.4em;
}